<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving static file</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="card">
        <h2>Welcome to demo API</h2>
        <p>This is a demo movies API built using Express js and a JSON file as a data source</p>
        <p>This is a simple demo HTML page to demo serving static files</p>
        <p>By default express cannot serve static files such as html,css,js,images etc.. <br>So we need to use
        express middleware express.static </p>
    </div>
</body>
</html>

